@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>

<html>
<head>
    <title>AppPoolManage</title>
    <script src="../../Scripts/jquery-1.7.1.min.js" type="text/javascript"></script>
    <style type="text/css">
        .webGrid {
            margin: 4px;
            border-collapse: collapse;
            width: 500px;
            background-color: #FCFCFC;
        }

        .header {
            background-color: #C1D4E6;
            font-weight: bold;
            color: #FFF;
        }

        .webGrid th, .webGrid td {
            border: 1px solid #C0C0C0;
            padding: 5px;
        }

        .alt {
            background-color: #E4E9F5;
            color: #000;
        }

        .gridHead a:hover {
            text-decoration: underline;
        }
        .SiteStatus {
            width: 500px;
        }
        .Status {
            width: auto;
        }

        .select {
            background-color: #389DF5;
        }
    </style>
</head>
<body>
    <div>
        @TempData["Message"]

        @{
            if (TempData["Message"] != null)
            {
                TempData["Message"].ToString();
            }
        }
        @{
            var grid = new WebGrid(Model, canPage: true, rowsPerPage: 10, selectionFieldName: "selectedRow", ajaxUpdateContainerId: "gridContent");
            grid.Pager(WebGridPagerModes.NextPrevious);}
        <div id="gridContent">
            @grid.GetHtml(tableStyle: "webGrid",
                headerStyle: "header",
                alternatingRowStyle: "alt",
                selectedRowStyle: "select",
                columns: grid.Columns(
                    grid.Column("SiteName", " 站点名称"),
                    grid.Column("SiteStatus", " 站点状态", style: "SiteStatus"),
                    grid.Column("PoolName", " 程序池名称"),
                    grid.Column("PoolStatus", " 程序池状态", style: "Status"),
                    grid.Column(
                        columnName: "",
                                 format: item => Html.ActionLink("Recycle", "ControlAppPool", new { appPoolName = item.PoolName, command = "Recycle" })
                    ),
                    grid.Column(
                        columnName: "",
                                 format: item => Html.ActionLink("Start", "ControlAppPool", new { appPoolName = item.PoolName, command = "Start" })
                    ),
                    grid.Column(
                        columnName: "",
                                 format: item => Html.ActionLink("Stop", "ControlAppPool", new { appPoolName = item.PoolName, command = "Stop" })
                    ),
                    grid.Column("IsUmbraco", " 是否为umbraco"),
                    grid.Column(
                        columnName: "",
                                 format: item => Html.ActionLink("DeleteConfig", "DeleteUmbracoConfig", new { path = item.FilePath })
                    )
                    
         ))
        </div>
        </div>
</body>
</html>
